.header {
  display: flex;
  margin: 93px 24px 96px 24px;
  align-items: center;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 26px;
}

.header__links-list-item {
    list-style-type: circle;
    text-align: left;
    letter-spacing: 1%;
}

.header__links-list-item_no-bullet {
    list-style-type: none;
    padding-right: 2px;
}

.header__logo {
    margin-right: auto;
    margin-left: 45px;
}

.link {
    letter-spacing: 1%;
}

.header__logo-image {
    height: 105px;
}

.address {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  }

.header__address {
    width: 240px;
    margin-right: 26px;

}

.cover {
    position: relative;
    background: url('../images/cover.jpg');
    background-size: cover;
    max-height: 757px;
    margin-top: -5px;
}

.overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 757px;
    background: rgb(0, 0, 0);
    opacity: 0.6;
    z-index: 0;
}

.cover__title-item {
    z-index: 1;
    position: relative;
    font-weight: 700;
    padding: 165px 50px 237px 50px;
}

.aligned-text {
    display: flex;
    letter-spacing: 30px;
    font-size: 100px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    
}

.cover__title-item_left {
    display: flex;
    align-items: start;
    justify-content: start;

}

.letter-spacing-extended {
    display: flex;
    margin-left: 27px;
    letter-spacing: 25px;

}

.aligned-text_right .no-letter-spacing {
    margin-right: 25px;
  }

.aligned-text_right .letter-spacing-extended {
    margin-right: 32px;
}

.no-letter-spacing {
    text-align: right;
    margin-right: 57px;
    letter-spacing: 0.008em;

}

.aligned-text_center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    margin-left: -29px;
}

.aligned-text_right {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-right: -24px;
}

.cover__description {
    display: flex;
    width: calc(100% - 128px);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: absolute;
    bottom: 51px;
    left: 78px;
}

.cover__description-text {
    display: flex;
    font-family: Raleway;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.13em ;
    text-align: left;
    text-transform: uppercase;
    z-index: 2;
}

.bet-button {
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    padding: 12px 32px;
}

.lots {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-left: 24px;
    margin-top: 180px;
}

.lots__heading {
    padding-left: 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: left;
}

.lots__card-list {
    display: flex;
    margin-top: 24px;
}

.lots__card-list-item {
    flex-grow: 1;
    color: rgb(255, 255, 255);
           
}

.card__title {
    position: relative;
    padding-left: 40px;
    padding-top: 51px;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 2;
}

.card__text {
    position: relative;
    font-size: 20px;
    z-index: 2;
    padding-bottom: 48px ;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    height: 563px;
}

.card-link {
    text-decoration: none;
    
    
}

.card_type_film {
    position: relative;
    background: url('../images/card-lot-01.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;

}

.card_type_book {
    position: relative;
    background: url('../images/card-lot-02.jpg');
    background-position: center;
 
}

.card_type_picture {
    position: relative;
    background: url('../images/card-lot-03.jpg');
    background-position: center;
}

.lots__look-more-link {
    display: flex;
    padding-bottom: 2px;
    margin-left: 38px;
    padding-top: 33px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    
}

.about {
    display: grid;
    grid-template-columns: 358px auto;
    grid-template-rows: 563px auto;
    margin-top: 46px;
    margin-left: 24px;
    height: 595px;
    gap: 72px;
    
}

.about__logo {
    display: flex;
    background-color: black;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin-left: 47px;
    align-items: center;
    justify-content: center;
}

.about__logo img {
    width: 141px;
    height: 112px;
}

.about__column {
    width: 693px;
    height: 449px;
    padding-top: 133px;

}

.about__title {
    font-size: 40px;
    padding-top: 100px;
    line-height: 47px;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-left: -69px;
}

.about__text {
    width: 690px;
    padding-top: 103px;
    margin-left: -70px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 98px;
    margin-top: 280px;
}

.footer__address {
    width: 240px;
    height: 98px;
    font-size: 18px;
    margin-left: 49px;
    line-height: 1.33em;
}

.footer__menu {
    display: flex;
    justify-content: center;
    font-size: 18px;
    width: 149px;
    height: 64px;
    list-style: none;
    text-align: center;
    margin-left: 4px;
}

.link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    align-items: start;
    gap: 48px;
    padding-right: 50px;
}

.footer__social-link {
    display: flex;
    width: 48px;
    height: 48px;


   }

  .footer__menu-list li, .footer__social-list li {
    list-style: none;

  }

